.example-full-width {
  width: 80%;
}

.button-alignment{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.example-form-div {
  margin-top: 5%;
  text-align: center;
}

