 <div *ngFor="let article of articles"  class="comment-glass"><br>
    <mat-card class="cards" [@onEnter] [id]="article.data.id">
      <mat-card-header [ngStyle]="{'padding-bottom' : '14px'}">
        <mat-card-title >{{article.data.name}}</mat-card-title>
        <mat-card-subtitle [ngStyle]="{'color':'white'}">{{ article.data.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content id="mat_content" >
        <img mat-card-image [src]="article.data.img" />
        <p>{{ article.data.content }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <p *ngIf="article.user | async as userData ">Written by: {{userData.displayName}}</p>
      </mat-card-footer>
      <mat-card-actions *ngIf="userOnly">
        <mat-icon [id]="article.data.id" [ngStyle]="{ 'cursor' : 'pointer;'}" class="icon-delete" (click)="deleteArticle!($event.target!)">delete</mat-icon>
        <mat-icon [id]="article.data.id" [ngStyle]="{ 'cursor' : 'pointer;'}" class="icon-edit" (click)="callEditArticle($event.target!)">edit</mat-icon>
      </mat-card-actions>
    </mat-card>
    <app-comments [currentArticle]="article.data.id"></app-comments>
</div>


