<h1>Sign in</h1>
<mat-divider id="entry-field"></mat-divider>
<form (submit)="signIn()" [formGroup]="userForm" >
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" name="email" placeholder="Ex. examp@gmail.com" formControlName="email"><br>
    <mat-error *ngIf="!userForm.get('email')?.hasError('required') && userForm.get('email')?.hasError('email')">
      Bad email format
    </mat-error>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" name="password" placeholder="***" formControlName="password"><br>
    <mat-error *ngIf="!userForm.get('password')?.hasError('required') && userForm.get('password')?.hasError('minlength')">
      Please expand your password with more {{ 8 - this.userForm.get('password')?.value.length}} characters
    </mat-error>
  </mat-form-field><br>
  <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Sign in</button>
</form>
